@model List<ResultOurSpecialDTO>
@{
    ViewData["Title"] = "OurSpecialList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-12">

    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Hakkımda Düzenleme Paneli</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-warning" scope="col">#</th>
                        <th class="text-warning" scope="col">Başlık</th>
                        <th class="text-warning" scope="col">Alt Başlık</th>
                        <th class="text-warning" scope="col">İçerik</th>
                        <th class="text-warning" scope="col">Resim Yolu</th>
                        <th class="text-warning" scope="col">Sil</th>
                        <th class="text-warning" scope="col">Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td class="text-white">@count</td>
                            <td class="text-white">@item.OurSpecialTitle</td>
                            <td class="text-white">@item.OurSpecialColumnTitle</td>
                            <td class="text-white">@item.OurSpecialContent</td>
                            <td>
                                <img src="@item.OurSpecialImageURL" alt="Resim" width="80" height="80" style="object-fit: cover; border-radius: 10px;" />
                            </td>
                            <td class="text-white"><a href="/OurSpecials/DeleteOurSpecial/@item.Id" class="btn btn-outline-primary ">Sil</a></td>
                            <td class="text-white"><a href="/OurSpecials/UpdateOurSpecial/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                            <td class="text-white"></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/OurSpecials/AddOurSpecial/" class="btn btn-outline-info">Yeni Restoranımıza Özel Ürün Bilgisi Gir</a>
        </div>
    </div>

</div>

