@model List<ResultAboutDTO>
@{
    ViewData["Title"] = "AboutList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-12">
   
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Hakkımda Düzenleme Paneli</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-warning" scope="col">#</th>
                        <th class="text-warning" scope="col">Başlık</th>
                        <th class="text-warning" scope="col">Alt Başlık</th>
                        <th class="text-warning" scope="col">Madde</th>
                        <th class="text-warning" scope="col">Açıklama</th>
                        <th class="text-warning" scope="col">Resim Yolu</th>
                        <th class="text-warning" scope="col">Sil</th>
                        <th class="text-warning" scope="col">Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td class="text-white">@count</td>
                            <td class="text-white">@item.AboutTitle</td>
                            <td class="text-white">@item.AboutSubTitle</td>
                            <td class="text-white">@item.AboutArticle</td>
                            <td class="text-white">@item.AboutDescription</td>
                            <td class="text-white">@item.AboutImageURL</td>
                            <td class="text-white"><a href="/Abouts/DeleteAbout/@item.Id" class="btn btn-outline-primary ">Sil</a></td>
                            <td class="text-white"><a href="/Abouts/UpdateAbout/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                            <td class="text-white"></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Abouts/AddAbout/" class="btn btn-outline-info">Yeni Hakkımda Bilgisi Gir</a>
        </div>
    </div>
   
</div>
