@model List<ResultTestimonialDTO>
@{
    ViewData["Title"] = "TestimonialList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-12">

    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Referans Düzenleme Paneli</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-warning" scope="col">#</th>
                        <th class="text-warning" scope="col">Görsel</th>
                        <th class="text-warning" scope="col">Ad Soyad</th>
                        <th class="text-warning" scope="col">Ünvan</th>
                        <th class="text-warning" scope="col">Yorum</th>
                        <th class="text-warning" scope="col">Sil</th>
                        <th class="text-warning" scope="col">Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td class="text-white">@count</td>
                            <td>
                                <img src="@item.TestimonialImageURL" alt="Resim" width="80" height="80" style="object-fit: cover; border-radius: 10px;" />
                                </td>
                            <td class="text-white">@item.TestimonialFullName</td>
                            <td class="text-white">@item.TestimonialTitle</td>
                            <td class="text-white">@item.TestimonialComment</td>
                            <td class="text-white"><a href="/Testimonials/DeleteTestimonial/@item.Id" class="btn btn-outline-primary ">Sil</a></td>
                            <td class="text-white"><a href="/Testimonials/UpdateTestimonial/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Testimonials/AddTestimonial/" class="btn btn-outline-info">Yeni Referans Bilgisi Gir</a>
        </div>
    </div>

</div>

