@model List<ResultContactDetailDTO>
@{
    ViewData["Title"] = "ContactDetailList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-12">

    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">İletişim Bilgileri Düzenleme Paneli</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-warning" scope="col">#</th>
                        <th class="text-warning" scope="col">Lokasyon</th>
                        <th class="text-warning" scope="col">Lokasyon Google Map Adresi</th>
                        <th class="text-warning" scope="col">Açılış - Kapanış zamanı</th>
                        <th class="text-warning" scope="col">Telefon Numarası</th>
                        <th class="text-warning" scope="col">Mail Adresi</th>
                        <th class="text-warning" scope="col">Sil</th>
                        <th class="text-warning" scope="col">Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td class="text-white">@count</td>
                            <td class="text-white">@item.ContactDetailLocation</td>
                            <td class="text-white">@item.ContactDetailLocationMapURL</td>
                            <td class="text-white">@item.ContactDetailOpenHours</td>
                            <td class="text-white">@item.ContactDetailCallUs</td>
                            <td class="text-white">@item.ContactDetailEmailUs</td>
                            <td class="text-white"><a href="/ContactDetails/DeleteContactDetail/@item.Id" class="btn btn-outline-primary ">Sil</a></td>
                            <td class="text-white"><a href="/ContactDetails/UpdateContactDetail/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                            <td class="text-white"></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/ContactDetails/AddContactDetail/" class="btn btn-outline-info">Yeni İletişim Bilgisi Gir</a>
        </div>
    </div>

</div>

